<article class="challenges__item challenge challenge--past challenge--full {% if post.challenge_image|length %}challenge--has-image{% endif %}" id="{{ 'challenge-' ~ post.ID }}" style="background-image: url( '{{ TimberImage( post.challenge_image ).src }}' );">
  <div class="challenge__canister">
        <div class="challenge__header media">
            {% if post.thumbnail|length %}
            <img src="{{ post.thumbnail.src | resize(100,100) }}" alt="" class="media__src challenge__src">
            {% else %}
                <img src="http://placecage.com/100/100" alt="" class="media__src challenge__src">
            {% endif %}

            <div class="media__body">
              <h2 class="challenge__heading">
                {{ post.title }}
              </h2>
              <div class="challenge__excerpt cms">
                {{ post.get_preview( 50, false, '' ) }}
              </div>
            </div>
        </div>

        {% if post.projects|length %}
        <div class="challenge__content">
          <h3 class="ideas-list__heading">
            {{ function( '_n', 'Winner', 'Winners', post.projects | length ) }}
          </h3>
          {% for batchResults in post.projects | batch( post.projects | length / 2 ) %}
          <ul class="ideas-list ideas-list--winner {{ post.projects|length > 1 ? 'ideas-list--multi-winner' }}">
            {% for idea in batchResults %}
            <li class="ideas__item idea--winner idea" id="{{ 'idea-' ~ idea.id }}">
              <h2 class="idea__heading idea__content">
                <a class="idea__link" href="{{ post.link ~ 'ideas/' ~ idea.slug }}" title="Link">{{ idea.title }}</a>
              </h2>
              <div class="idea__content">
                {{ idea.get_preview(50, false, '')}}
              </div>
              <!-- /.idea__content -->
            </li>
            <!-- /.ideas__item -->
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
        {% endif %}

  </div>
  <!-- /.challenge__canister -->
</article>
