<article class="challenges__item challenge challenge--past {% if post.challenge_image|length %}challenge--has-image{% endif %}" id="{{ 'challenge-' ~ post.ID }}" style="background-image: url( '{{ TimberImage( post.challenge_image ).src }}' );">
  <div class="challenge__canister">
    <div class="container">
      <div class="container--offset">
        <div class="challenge__header media">
            {% if post.thumbnail|length %}
            <img src="{{ post.thumbnail.src | resize(100,100) }}" alt="" class="media__src challenge__src">
            {% else %}
                <img src="http://placecage.com/100/100" alt="" class="media__src challenge__src">
            {% endif %}

            <div class="media__body">
              <h2 class="challenge__heading">
                <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
              </h2>
              <div class="challenge__excerpt cms">
                {{ post.get_preview( 50, false, '' ) }}
              </div>
            </div>
        </div>

        {% if post.projects|length %}
        <div class="challenge__content">
          <ul class="ideas-list ideas-list--winner {{ post.projects|length > 1 ? 'ideas-list--multi-winner' }}">
            {% for idea in post.projects %}
            <li class="ideas__item idea--winner idea" id="{{ 'idea-' ~ idea.id }}">
              <h2 class="idea__heading idea__content">
                <a href="{{ post.link ~ 'ideas/' ~ idea.slug }}" title="Link">{{ idea.title }}</a>
              </h2>

              <div class="idea__content">
                {{ idea.get_preview(50, false, '')}}
              </div>
              <!-- /.idea__content -->

              <div class="actions idea__actions">
                <span class="idea__action"title="{{ idea.details.voteCount }} Votes">
                  {{ idea.details.voteCount }}
                  <i class="icon icon--small icon-vote">
                    {% if idea.details.voteCount|length == "1" %}
                      Vote
                    {% else %}
                      Votes
                    {% endif %}
                  </i>
                </span>
                <span class="idea__action" title="{{ idea.details.commentCount }} Comments">
                  {{ idea.details.commentCount }}
                  <i class="icon icon--small icon-comments">
                    {% if idea.details.commentCount|length == "1" %}
                      Comment
                    {% else %}
                      Comments
                    {% endif %}
                  </i>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <!-- /.container--inner -->
    </div>
    <!-- /.container container--small -->
  </div>
  <!-- /.challenge__canister -->
</article>
