<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 {{ html_class }}" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 {{ html_class }}" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 {{ html_class }}" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js {{ html_class }}" lang=""> <!--<![endif]-->
  <head>
    <title>{{wp_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- build:css /content/themes/jhu-idealab/styles/site.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/content/themes/jhu-idealab/styles/master.css">
    <!-- endbuild -->
    <script src="/bower_components/loadcss/loadCSS.js" inline></script>
    <script>
      // load a file
      loadCSS( "/content/themes/jhu-idealab/styles/webfonts.css" );
    </script>
    <noscript>
      <!-- build:css /content/themes/jhu-idealab/styles/webfonts.css -->
      <link href="/content/themes/jhu-idealab/styles/webfonts.css" rel="stylesheet">
      <!-- endbuild -->
    </noscript>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="page">
      <div class="page-row page-row--expanded">
        {% include 'includes/_site-header.twig' with { 'masthead_class': masthead_class } %}
        <main class="main">
          {% block content %}

          {% endblock %}
        </main><!-- /.main -->

      </div>

      {% include 'includes/_site-footer.twig' %}
    </div>

    <!-- build:js scripts/main.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

  </body>
</html>
