{% extends "base.twig" %}





{% block content %}
  {% include "includes/_home-hero.twig" %}


  <div class="main-content">
    <section class="cc-section {{ current_challenges|length ? 'cc-section--has-current-challenges' }}">
      <header class="cc-section__header">
        <div class="container">
          <div class="container--offset">

            <h2 class="cc-section__heading">Idea&nbsp;Lab Challenges</h2>
            <!-- /.cc-section__heading -->
            {% if current_challenges|length %}
            <nav class="cc-section__menu button-group">
              <a class="challenge-nav__link button--supernova button" href="/challenges" title="More Challenges">More Challenges</a>
              <a class="challenge-nav__link button--supernova button button--outline" href="/challenges/past-challenges" title="Past Challenges">Past Challenges</a>
              <!-- /.challenge-nav -->
            </nav>
            <!-- /.cc-section__menu -->
            {% endif %}
          </div>
          <!-- /.container--offset -->
        </div>
        <!-- /.container -->
      </header>
      <!-- /.cc-section__header -->

      <div class="cc-section__body {{ current_challenges|length ? 'cc-section__body--has-challenges' }}">
        {% if current_challenges|length %}
        <div class="cc-list">
          {% for challenge in current_challenges %}
            {% include "includes/_challenge-item.twig" with { 'post' : challenge } only %}
          {% endfor %}
        </div>
        <!-- /.cc-list -->
        {% else %}
        <div class="container">
          <div class="container--offset">
            <div class="cc-section__content cms">
                {{ challenge_statement }}
            </div>
            <!-- /.cc-section__content.cms -->
          </div>
          <!-- /.container--offset -->

          <div class="container--offset">
            <h2 class="cc-list__heading">Past Challenges</h2>
            <a class="cc-list__button button--cornflower button--outline button" href="/challenges/past-challenges" title="More Challenges">All Past Challenges</a>
          </div>
          <!-- /.container--offset -->


          <div class="cc-list cc-list--past">
            {% for challenge in past_challenges if challenge.projects | length %}
              {% include "includes/_past-challenge-item-full.twig" with { 'post' : challenge } only %}
            {% endfor %}
          </div>
          <!-- /.cc-list -->
        </div>
        <!-- /.container -->
        {% endif %}
      </div>
      <!-- /.cc-section__body -->
    </section>
    <!-- /.cc-section -->
  </div> <!-- /content -->


  <div class="sub-content">
    <div class="container">
      <div class="info-wrap">
        <h2>{{ info_title }}</h2>
        {{ info_content }}
      </div>
    </div><!-- /.container -->
  </div><!-- /.sub-content -->
{% endblock %}
